.renderRow {
	:global(.am-list-body) {
		border-top   : unset !important;
		border-bottom: unset !important;
		margin-top   : 8px;
	}

	:global(.am-list) {
		height: 100%;
	}

	:global(.am-pull-to-refresh-content-wrapper) {
		height: 100%;
	}
}